
.top-row{
  float: left;
}

.signup-tab{
margin-left: 2%;
margin-bottom: 2%;
}

#sign-in-btn{
  margin-left: 41%;
}

#login-btn{
  margin-left: 41%;
}

#header-nav{
    background-color: #000000	;
    color: white;
    border: 0px;
}

#field-space{
  background-color: black;
  align-items: center;
  margin-top: 15%;
  background-color: currentColor;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
}

#navTab{
  margin-bottom: 1%;
  margin-left: 2%;
}

#logo-img{
  width: 18%;
  float: left;
}
body{
  background-image:  url("/Guitar-on-Fire.jpg");
}
.main-page-header{
  font-family: impact;
  margin-left: 5%;
}
